<ul class="p-0 mx-0 mt-0 mb-0 list-none">
  <li class="flex align-items-center py-2 border-bottom-1 surface-border" *ngFor="let not of notifications">
    <div
      class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
      <i *ngIf="not.topic==='Employee'" class="pi pi-fw pi-id-card text-xl text-blue-500"></i>
      <i *ngIf="not.topic==='Absence'" class="pi pi-fw pi-calendar-times text-xl text-orange-500"></i>
      <i *ngIf="not.topic==='Position'" class="pi pi-fw pi-wrench text-xl text-pink-500"></i>
    </div>
    <div class="text-900 line-height-3">
      <a (click)="redirectPage('/admin/employee/'+not.bussinessKey)"
        class="font-medium no-underline text-blue-500 cursor-pointer">{{not.topic}}
        <span class="text-700">{{not.message}}</span>
      </a>
    </div>
    <div class="ml-auto">

      <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [text]="true" (click)="removeNotification(not)">
      </p-button>

    </div>
  </li>
</ul>