<div class="mt-6 mb-6 flex justify-content-center">

  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
    <div class="text-center mb-8">
      <img src="assets/logo/Air Pulse-logos_transparent.png" alt="Image" height="200" width="550" class="mb-3">
      <div class="text-900 text-3xl font-medium mb-3">Welcome to your favourite airline</div>
      <span class="text-600 font-medium line-height-3">Already have an account?</span>
      <a [routerLink]="['/auth/login']" class="font-medium no-underline ml-2 text-blue-500 cursor-pointer">Sign in!</a>
    </div>

    <div>
      <app-register-form (formSubmitted)="register($event)"></app-register-form>
    </div>
  </div>
</div>