<p-dialog [(visible)]="visible" [style]="{ width: '600px' }" header="Position details" [modal]="true"
    (onHide)="hideDialog()" styleClass="p-fluid">
    <ng-template *ngIf="employees" pTemplate="content">
        <form id="form" [formGroup]="form" class="form" (ngSubmit)="onSubmit()">
            <div class="field">
                <label for="dateRange" class="block text-900 font-medium">Valid From/To</label>
                <p-calendar formControlName="dateRange" selectionMode="range" [showIcon]="true" [ngClass]="{'ng-invalid ng-dirty' : !form.get('dateRange')?.valid &&
                  form.get('dateRange')?.touched}"></p-calendar>
            </div>

            <div class="field">
                <label for="status">Employee</label>
                <p-dropdown formControlName="employeeId" inputId="employeeId" [options]="employeesLov"></p-dropdown>
                <small class="p-error"
                    *ngIf="form.get('employeeId')?.touched && form.get('employeeId')!.hasError('required')">Employee is
                    required.</small>
            </div>

            <div class="field">
                <label for="status">Job type</label>
                <p-dropdown formControlName="jobTypeId" inputId="jobTypeId" [options]="jobTypesLov"></p-dropdown>
                <small class="p-error"
                    *ngIf="form.get('jobTypeId')?.touched && form.get('jobTypeId')!.hasError('required')">Job type is
                    required.</small>
            </div>


            <div class="field">
                <label for="salary">Salary</label>
                <p-inputNumber id="salary" formControlName="salary" mode="currency" currency="USD"
                    locale="en-US"></p-inputNumber>
                <small class="p-error" *ngIf="form.get('salary')!.hasError('salary')">Salary
                    range is required.</small>
            </div>


        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" form="form" icon="pi pi-check" class="p-button-text"
            [disabled]="!form.valid"></button>
    </ng-template>
</p-dialog>