<div class="flex flex-row justify-content-center flex-wrap mt-2">
    <div class="w-3">
        <p-card>
            <div class="formgrid grid">

                <div class="col-12 field">
                    <label for="routeId" class="block text-900 font-medium">Route</label>
                    <p-dropdown autoWidth="false" [style]="{'width':'100%'}" class="w-full"
                        [(ngModel)]="searchRequest.routeId" inputId="routeId" [options]="routesLov"></p-dropdown>
                    <small class="p-error" *ngIf="!this.searchRequest.routeId || this.searchRequest.routeId===0">Route
                        is
                        required.</small>
                </div>

                <div class="col-12 field">
                    <label for="departOn" class="block text-900 font-medium">Return</label>
                    <p-calendar styleClass="w-full" [showIcon]="true" [(ngModel)]="departOn"></p-calendar>
                </div>

                <div class="col-12 field text-center">
                    <button pButton pRipple label="Search" form="form" icon="pi pi-check" (click)="searchFlights()"
                        [disabled]="!this.searchRequest.routeId || this.searchRequest.routeId===0"
                        class="p-button-text mt-4"></button>
                    <button pButton pRipple label="Clear filter" form="form" icon="pi pi-times" (click)="clearFilter()"
                        class="p-button-text mt-4"></button>
                </div>
            </div>
        </p-card>
    </div>
    <div class="w-8 ml-4">
        <p-card>
            <app-flight-list *ngIf="flight" [flights]="[flight]" [singleReturnFlight]="true"
                [returnFlights]="false"></app-flight-list>
        </p-card>
        <p-divider></p-divider>
        <p-card>
            <h4>Return flights</h4>
            <app-flight-list *ngIf="returnFlights" [firstFlight]="flight" [flights]="returnFlights"
                [singleReturnFlight]="false" [returnFlights]="true"></app-flight-list>
            <div class="text-center mt-4" *ngIf="!returnFlights ||returnFlights.length===0">

                <span class="block textxxl font-bold mb-1">No flights.</span>
                <p class="mt-0 mb-4 text-800 line-height-3">Modify the search
                    parameters.</p>
            </div>
        </p-card>
    </div>
</div>