<div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
    <div class="flex align-items-center justify-content-center ">
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Flights</span>
                        <div class="text-900 font-medium text-xl">43</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                        style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-send text-blue-500 text-xl"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Employees</span>
                        <div class="text-900 font-medium text-xl">10</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-orange-100 border-round"
                        style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-users text-orange-500 text-xl"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Customers</span>
                        <div class="text-900 font-medium text-xl">4</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-cyan-100 border-round"
                        style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-inbox text-cyan-500 text-xl"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p-divider></p-divider>

    <div class="grid">
        <div class="col-6">
            <div class="card">
                <!-- <h5>Flights per months</h5> -->
                <p-chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <!-- <h5>Fligts per city</h5> -->
                <p-chart type="bar" [data]="pieData" [options]="pieOptions"></p-chart>
            </div>
        </div>
    </div>
</div>