<div class="section">
    <div class="tpd-plan">
        <div class="tp-flight-plan">
            <div class="container-fluid" *ngFor="let flight of flights">
                <div class="crop depart mt-2">
                    <div class="context collapsed" data-toggle="collapse" data-target="#demo2">
                        <div class="item it-1">
                            <label class="trip-type1 depart">Departure</label>
                            <label class="trip-type2 depart">Arrival</label>

                            <div class="route-dot">
                                <span class="point" style="--data-left:35%"></span>
                                <span class="point" style="--data-left:65%"></span>
                            </div>
                            <div class="airline-image">
                                <div class="df-text">{{flight.departure| dateTimeDiff:flight.arrival}}</div>
                                <span class="img-wrapper">
                                    <svg class="anime-airplane">
                                        <use xlink:href="#airplane"></use>
                                    </svg>
                                    <span class="top-label">Direct</span>
                                </span>
                            </div>
                            <div class="port-seg">
                                <div class="flight-seg origin">
                                    <div class="time">{{flight.departure | date:'shortTime'}}</div>
                                    <div class="port1">{{flight.route.departureAirportCity.split(',')[0]}}</div>
                                    <div class="name">{{flight.route.departureAirportCity.split(',')[1]}}</div>
                                </div>
                                <div class="flight-seg destination">
                                    <div class="time">{{flight.arrival | date:'shortTime'}}</div>
                                    <div class="port2">{{flight.route.arrivalAirportCity.split(',')[0]}}</div>
                                    <div class="name">{{flight.route.arrivalAirportCity.split(',')[1]}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="item it-2">
                            <div class="dr-row">
                                <span class="al-name">from {{flight.basePrice|currency}}</span>
                            </div>
                            <div class="take-tim">{{flight.departure|date:'fullDate'}}</div>
                        </div>
                        <div class="item it-3 mt-2 ml-1">
                            <div *ngIf="!noButton" class="dr-row">
                                <button *ngIf="!singleReturnFlight && !returnFlights && return" pButton pRipple
                                    label="Choose flight" [routerLink]="'/user/search/return/'+flight.id"
                                    class="p-button-text"></button>
                                <button *ngIf="!singleReturnFlight && returnFlights" pButton pRipple
                                    label="Choose flight" [routerLink]="'/user/booking/'+firstFlight.id+'/'+flight.id"
                                    class="p-button-text"></button>
                                <button *ngIf="!singleReturnFlight && !returnFlights && !return" pButton pRipple
                                    label="Choose flight" [routerLink]="'/user/booking/'+flight.id"
                                    class="p-button-text"></button>
                                <button *ngIf="singleReturnFlight" pButton pRipple label="Go back"
                                    [routerLink]="'/user/search'" class="p-button-text"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>