<p-dialog [(visible)]="visible" [style]="{ width: '900px' }" header="Booked flight preview" [modal]="true"
  (onHide)="hideDialog()" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <h4>Departure flight</h4>
    <app-flight-list *ngIf="departureFlight" [flights]="[departureFlight]" [singleReturnFlight]="true"
      [returnFlights]="false" [noButton]="true"></app-flight-list>
    <h4 *ngIf="returnFlight">Return flight</h4>
    <app-flight-list *ngIf="returnFlight" [flights]="[returnFlight]" [singleReturnFlight]="true" [returnFlights]="false"
      [noButton]="true"></app-flight-list>
    <div class="field grid">
      <div class="field col-6">

        <label for="status" class="mr-3">Seat class</label>
        <p-dropdown [disabled]="true" [(ngModel)]="selectedSeatClass" inputId="seatClass" [options]="seatClasses">
          <ng-template let-option pTemplate="item">
            <p-tag [value]="option.label" [severity]="getSeverity(option.label)"></p-tag>
          </ng-template>
        </p-dropdown>
      </div>
      <div class="field col-6">

        <label for="luggage" class="mr-3">Luggage</label>
        <p-dropdown [disabled]="true" [(ngModel)]="selectedLuggage" inputId="seatClass" [options]="luggage">
          <ng-template let-option pTemplate="item">
            <p-tag [value]="option.label" [severity]="getSeverity(option.label)"></p-tag>
          </ng-template>
        </p-dropdown>
      </div>

    </div>
    <p-divider></p-divider>
    <h5 class="text-right">Total price: {{flight.totalPrice|currency}}</h5>
  </ng-template>
</p-dialog>