::ng-deep .p-datepicker table td {
    padding: 0.2rem !important;
}

::ng-deep .p-datepicker table td>span {
    width: 1.2rem;
    height: 1.2rem;
}

::ng-deep .p-datepicker table {
    font-size: 10pt;
    margin: -0.143rem 0;
}

::ng-deep .p-datepicker .p-datepicker-header {
    padding: 0.1rem;
}