<div *ngIf="staffs" class="card">
    <p-table id="myTable" #dt [value]="staffs" [rows]="5" [paginator]="true" [tableStyle]="{ 'min-width': '70rem' }"
        [(selection)]="selectedStaff" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="{first} to {last} of {totalRecords}" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Manage staff</h5>
                <span class="p-input-icon-left">
                    <p-button icon="pi pi-plus" [rounded]="true" [text]="true" (click)="openNew()"></p-button>
                    <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [text]="true"
                        (click)="deleteSelectedStaff()" [disabled]="!selectedStaff || !selectedStaff.length"></p-button>
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width:2%">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="id" style="width:3%">Id <p-sortIcon field="id"></p-sortIcon></th>
                <!-- <th>Image</th> -->
                <th pSortableColumn="summary" style="width:15%">Employee <p-sortIcon field="summary"></p-sortIcon>
                </th>
                <th pSortableColumn="validFrom" style="width:10%">Duration <p-sortIcon field="validFrom"></p-sortIcon>
                </th>
                <th style="width:10%" pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
                <th style="width:10%">Created</th>
                <th style="width:10%">Modified</th>
                <th style="width:10%"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-staff>
            <tr>
                <td>
                    <p-tableCheckbox [value]="staff"></p-tableCheckbox>
                </td>
                <td>{{staff.id}}</td>
                <td><a [routerLink]="['/admin/employee/'+staff.employeeId]"
                        class="font-medium no-underline text-blue-500 cursor-pointer">{{staff.summary}}</a></td>
                <td>{{ (staff.validFrom | date) + "-" + (staff.validTo | date) }}</td>
                <td><p-tag [value]="staff.status" [severity]="getSeverity(staff.status.toUpperCase())"></p-tag>
                </td>
                <td>{{ (staff.created | date)+ " (" +staff.createdBy+")" }}</td>
                <td>{{ staff.modified ? (staff.modified | date)+ " (" +staff.modifiedBy+")" : '' }}
                </td>
                <td>
                    <p-button icon="pi pi-pencil" [rounded]="true" [text]="true" severity="warning"
                        (click)="editStaff(staff)"></p-button>
                    <p-button icon="pi pi-trash" [rounded]="true" [text]="true" severity="danger"
                        (click)="deleteStaff(staff)"></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<app-staff-form [visible]="staffDialog" [aircraft]="aircraft" [staff]="staff || {}"
    (saveButtonClicked)="saveStaff($event)" (hideButtonClicked)="hideDialog()"></app-staff-form>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>