<p-dialog [(visible)]="visible" [style]="{ width: '700px' }" header="Aircraft seat details" [modal]="true"
    (onHide)="hideDialog()" styleClass="p-fluid">
    <ng-template *ngIf="aircrafts" pTemplate="content">
        <form id="form" [formGroup]="form" class="form" (ngSubmit)="onSubmit()">
            <div class="field">
                <label for="status">Seat class</label>
                <p-dropdown formControlName="seatClass" inputId="seatClass" [options]="seatClasses">
                    <ng-template pTemplate="seatClass">
                        <p-tag [value]="aircraftseat.seatClass"q
                            [severity]="getSeverity(aircraftseat.seatClass.toUpperCase())"></p-tag>
                    </ng-template>
                    <ng-template let-option pTemplate="item">
                        <p-tag [value]="option.label" [severity]="getSeverity(option.label)"></p-tag>
                    </ng-template>
                </p-dropdown>
                <small class="p-error"
                    *ngIf="form.get('seatClass')?.touched && form.get('seatClass')!.hasError('required')">Status is
                    required.</small>
            </div>

            <div class="field">
                <label for="status">Aircraft</label>
                <p-dropdown formControlName="aircraftId" inputId="aircraftId" [options]="aircraftsLov"></p-dropdown>
                <small class="p-error"
                    *ngIf="form.get('aircraftId')?.touched && form.get('aircraftId')!.hasError('required')">Aircraft is
                    required.</small>
            </div>

            <p-divider></p-divider>

            <div class="formgrid grid">
                <div class="field col">
                    <label for="quantity" class="block text-900 font-medium">Quantity</label>
                    <p-inputNumber [min]="1" formControlName="quantity" mode="decimal" inputId="withoutgrouping"
                        [useGrouping]="false" [ngClass]="{'ng-invalid ng-dirty' : !form.get('quantity')?.valid &&
                    form.get('quantity')?.touched}"></p-inputNumber>
                </div>
                <div class="field col">
                    <label for="priceModifier" class="block text-900 font-medium">Price Modifier</label>
                    <p-inputNumber formControlName="priceModifier" inputId="percent" prefix="%" [ngClass]="{'ng-invalid ng-dirty' : !form.get('priceModifier')?.valid &&
                    form.get('priceModifier')?.touched}"> </p-inputNumber>
                </div>
            </div>

        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" form="form" icon="pi pi-check" class="p-button-text"
            [disabled]="!form.valid"></button>
    </ng-template>
</p-dialog>