<p-dialog [(visible)]="visible" [style]="{ width: '800px' }" header="Flight details" [modal]="true"
    (onHide)="hideDialog()" styleClass="p-fluid">
    <ng-template *ngIf="routes" pTemplate="content">
        <form id="form" [formGroup]="form" class="form" (ngSubmit)="onSubmit()">

            <div class="field">
                <label for="status">Route</label>
                <p-dropdown formControlName="routeId" inputId="routeId" [options]="routesLov"></p-dropdown>
                <small class="p-error"
                    *ngIf="form.get('routeId')?.touched && form.get('routeId')!.hasError('required')">Route is
                    required.</small>
            </div>

            <div class="field">
                <label for="salary">Base price</label>
                <p-inputNumber id="basePrice" formControlName="basePrice" mode="currency" currency="USD"
                    locale="en-US"></p-inputNumber>
                <small class="p-error" *ngIf="form.get('basePrice')!.hasError('basePrice')">Base price
                    range is required.</small>
            </div>

            <div class="field">
                <label for="dateRange" class="block text-900 font-medium">Departure/Arrival</label>
                <p-calendar formControlName="dateRange" selectionMode="range" [showIcon]="true" [showTime]="true"
                    [ngClass]="{'ng-invalid ng-dirty' : !form.get('dateRange')?.valid &&
                  form.get('dateRange')?.touched}"></p-calendar>
            </div>

        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" form="form" icon="pi pi-check" class="p-button-text"
            [disabled]="!form.valid"></button>
    </ng-template>
</p-dialog>