<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/logo/header-logo.png" alt="logo">
    </a>

    <div #topbarmenu class="layout-topbar-menu">
        <button *ngIf="securtiyService.isAuthenticated()" class="p-link layout-topbar-button"
            (click)="toggleNotificationModal(true)">
            <i class="pi pi-bell" pBadge></i>
        </button>
        <button class="p-link layout-topbar-button"
            [routerLink]="securtiyService.isAuthenticated() ? '/user' : '/auth/login'">
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </button>
        <button *ngIf="securtiyService.isAdmin()" class="p-link layout-topbar-button" [routerLink]="'/admin'">
            <i class="pi pi-cog"></i>
            <span>ADMIN PANEL</span>
        </button>
        <button *ngIf="securtiyService.isAuthenticated()" class="p-link layout-topbar-button" (click)="logout()">
            <i class="pi pi-sign-out"></i>
        </button>
    </div>
</div>

<app-not-overview (onModalHidden)="toggleNotificationModal(false)"
    [visible]="showNotificationsModal"></app-not-overview>