<div class="surface-section">
    <ul class="list-none p-0 m-0">
        <li class="flex align-items-center py-3 px-2 flex-wrap">
            <div class="text-500 w-6 md:w-2 font-medium">Name</div>
            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{user.firstName+" "+user.lastName}}</div>
        </li>
        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
            <div class="text-500 w-6 md:w-2 font-medium">Username</div>
            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
                <p-chip styleClass="h-1rem text-sm" [label]="user.username" class="mr-2"></p-chip>
            </div>
        </li>
        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
            <div class="text-500 w-6 md:w-2 font-medium">Email</div>
            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{user.email}}
            </div>
        </li>
        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
            <div class="text-500 w-6 md:w-2 font-medium">Phone number</div>
            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{user.phoneNumber}}</div>
        </li>
        <li class="flex align-items-center py-3 px-2 border-top-1 border-bottom-1 surface-border flex-wrap">
            <div class="text-500 w-6 md:w-2 font-medium">Date joined</div>
            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1 line-height-3">
                {{user.created|date:'short'}}</div>
        </li>
        <li class="flex align-items-center py-3 px-2 border-top-1 border-bottom-1 surface-border flex-wrap">
            <div class="text-500 w-6 md:w-2 font-medium">Date of birth</div>
            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1 line-height-3">
                {{user.dateOfBirth|date:'fullDate'}}</div>
        </li>
    </ul>
</div>