<div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="block text-6xl font-bold mb-1">Air Pulse</span>
            <div class="text-4xl text-primary font-bold mb-3">Wings of Excellence</div>
            <p class="mt-0 mb-4 text-800 line-height-3">Where Every Journey Begins.</p>

            <button pButton pRipple label="Find your next flight" [routerLink]="'user/search'" type="button"
                class="mr-3 p-button-raised"></button>
        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
        <img src="https://airlines.iata.org/sites/default/files/migrated/airlines/airlines/analysis-customer-centric-intermodal-tra--web-man-on-train-watching-plane-credit-o.jpg"
            alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
</div>

<p-divider></p-divider>

<div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
    <div class="mb-3 font-bold text-3xl">
        <span class="text-900">One Product, </span>
        <span class="text-blue-600">Many Solutions</span>
    </div>
    <!-- <div class="text-700 mb-6">Ac turpis egestas maecenas pharetra convallis posuere morbi leo urna.</div> -->
    <div class="grid">
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-heart-fill text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Effortless Comfort</div>
            <span class="text-700 line-height-3">Our airline prioritizes passenger comfort with spacious seating, plush
                interiors, and attentive service, ensuring every journey is a relaxed and enjoyable experience</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-globe text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Global Connectivity</div>
            <span class="text-700 line-height-3">Connecting you to major destinations worldwide, our extensive network
                provides seamless travel options, making us the ideal choice for both business and leisure
                travelers.</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-check-circle text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Innovative Technology</div>
            <span class="text-700 line-height-3">Stay connected at 35,000 feet with state-of-the-art in-flight
                entertainment and cutting-edge amenities, enhancing the overall travel experience with a touch of modern
                sophistication.</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-lock text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Safety First</div>
            <span class="text-700 line-height-3">Your well-being is our top priority. We adhere to the highest safety
                standards, with rigorous maintenance procedures and a seasoned crew, ensuring you reach your destination
                securely and with peace of mind.</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-thumbs-up-fill text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Personalized Service</div>
            <span class="text-700 line-height-3">From check-in to disembarkation, our dedicated staff is committed to
                providing personalized service, anticipating and meeting your unique needs, making every passenger feel
                valued and appreciated.</span>
        </div>
        <div class="col-12 md:col-4 md:mb-4 mb-0 px-3">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-shield text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Environmental Responsibility</div>
            <span class="text-700 line-height-3">We are committed to sustainable aviation, implementing eco-friendly
                practices to minimize our environmental impact. Travel with us, knowing you are contributing to a
                greener, more sustainable future.</span>
        </div>
    </div>
</div>